@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.exclusive-offer-heading {
    font-weight: 700;
    font-size: 52px;
    font-family: 'Montserrat-Bold', sans-serif;
}

/* Media Query for Mobile Devices (e.g., screens up to 767px wide) */
@media screen and (max-width: 767px) {
    .exclusive-offer-heading {
        font-size: 32px; /* Adjust the font size for mobile devices */
    }
}

.buggy-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* This will make sure all items stretch to the same height */
  }
  
  .buggy-card {
    display: flex;
    flex-direction: column; /* Make sure the content inside the card is flex too */
    justify-content: space-between; /* This will push the footer to the bottom */
  }
  